@import "common.scss";
@import "mixin.scss";
.wrap {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include justify;
    @include direction(column);
}

header {
    width: 100%;
    height: 44px;
    overflow: hidden;
}

.headerlist {
    height: 44px;
    display: flex;
}

.headerlist li {
    height: 42px;
    line-height: 43px;
    width: 100px;
    list-style: none;
    border: 1px solid #ccc;
    text-align: center;
    flex-shrink: 0;
}

section {
    @include flex;
    width: 100%;
    overflow-y: auto;
    .swiper-container {
        width: 100%;
        height: pxTorem(150px);
        .swiper-wrapper {
            width: 100%;
            height: 100%;
            .swiper-slide {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

i {
    font-style: normal;
    font-size: 12px;
}

footer {
    width: 100%;
    height: 50px;
    background: skyblue;
    display: flex;
}

footer ul {
    width: 25%;
    height: 100%;
}

footer ul li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}