* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  width: 100%;
  height: 60px;
  overflow: hidden;
}

header h3 {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  color: #d57e90;
}

header .scrolls {
  width: 100%;
  height: 30px;
}

header .scrolls .list {
  width: 400px;
  height: 100%;
  display: flex;
  align-items: center;
}

header .scrolls .list li {
  width: 100px;
  height: 100%;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
}

header .scrolls .list li.active {
  color: #d57e90;
  border-bottom: 2px solid #d57e90;
}

.con {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.con .top {
  width: 100%;
  height: 100px;
}

.con .top .swiper-container {
  width: 100%;
  height: 100%;
}

.con .top .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.con .top .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.con .top .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
}

.con .buttom {
  flex: 1;
  background: #eee;
  overflow-y: auto;
}

.con .buttom p {
  width: 100%;
  text-align: center;
  line-height: 45px;
}

.con .buttom .list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
}

.con .buttom .list dl {
  width: 49%;
  height: 200px;
  background: #fff;
  margin-top: 5px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.con .buttom .list dl dt {
  width: 100%;
  height: 60%;
  text-align: center;
}

.con .buttom .list dl dt img {
  width: 100%;
  height: 100%;
}

.con .buttom .list dl dd {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.con .buttom .list dl dd p.title {
  line-height: 30px;
  width: 100%;
  text-align: left;
}

.con .buttom .list dl dd p.title span {
  margin-right: 5px;
  padding: 0 5px;
  border: 1px solid #ccc;
}

.con .buttom .list dl dd .sentence {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.con .buttom .list dl dd .sentence p {
  width: auto;
  color: #f44336;
}

.con .buttom .list dl dd .sentence p b {
  font-size: 16px;
}

.con .buttom .list dl dd .sentence p span {
  color: #666;
  border: none;
  text-decoration: line-through;
}

.con .buttom .list dl dd .sentence span {
  color: #666;
  border: 1px solid #ccc;
}

.con .buttom .list dl dd p.coutent {
  text-align: right;
  flex: 1;
  line-height: 20px;
  color: #666;
}

footer {
  width: 100%;
  height: 50px;
}

footer .footerlist {
  width: 100%;
  height: 50px;
  display: flex;
}

footer dl {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer dl dt .iconfont {
  font-size: 22px;
}

footer dl dd {
  font-size: 14px;
}

footer .ac {
  color: pink;
}
