* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 50px;
}

.con {
    flex: 1;
    display: flex;
    flex-direction: column;
    .top {
        width: 100%;
        height: 150px;
        .swiper-container {
            width: 100%;
            height: 100%;
            .swiper-wrapper {
                width: 100%;
                height: 100%;
                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: #fff;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .buttom {
        flex: 1;
    }
}

footer {
    width: 100%;
    height: 50px;
}