@import "minxin.scss";
@import "common.scss";
.wrapper {
    width: 100%;
    height: 100%;
    @include box-flex;
    @include direction(column);
}

header {
    width: 100%;
    height: pxTorem(80px);
    @include box_flex;
    flex-wrap: wrap;
    h1 {
        width: 100%;
        color: palevioletred;
        text-align: center;
        height: pxTorem(40px);
        line-height: pxTorem(40px);
    }
    .lists {
        width: 100%;
        height: pxTorem(35px);
        overflow: hidden;
        ul {
            @include box_flex;
            li {
                padding: 0 pxTorem(8px);
                flex-shrink: 0;
                a {
                    white-space: nowrap;
                }
                &.active {
                    color: palevioletred;
                    border-bottom: 2px solid palevioletred;
                }
            }
        }
    }
}

section {
    width: 100%;
    overflow: hidden;
    @include flex;
    .wrap {
        width: 100%;
        .main {
            .banner {
                ul {
                    li {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .tit {
            width: 100%;
            height: pxTorem(25px);
            text-align: center;
            line-height: pxTorem(25px);
            font-size: pxTorem(12px);
            color: #333;
        }
        .better {
            width: 100%;
            height: pxTorem(400px);
            overflow: hidden;
            .list {
                width: 100%;
                height: auto;
                @include box-flex;
                flex-wrap: wrap;
                @include justify(space-between);
                dl {
                    width: 49%;
                    height: auto;
                    background: #fff;
                    flex-direction: column;
                    margin-top: pxTorem(5px);
                    dt {
                        flex: 7.5;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    dd {
                        flex: 2.5;
                        padding: 0 pxTorem(7px);
                        p:nth-of-type(1) {
                            @include box-flex;
                            @include align;
                            line-height: 2;
                            color: #333;
                            font-size: pxTorem(12px);
                            span {
                                width: pxTorem(30px);
                                height: pxTorem(15px);
                                border: pxTorem(1px) solid #ccc;
                                line-height: 2;
                                @include box-flex;
                                @include justify;
                                @include align;
                                margin: 0 pxTorem(5px);
                                i.icon {
                                    color: #ccc;
                                    vertical-align: middle;
                                }
                            }
                        }
                        p:nth-of-type(2) {
                            @include box-flex;
                            @include justify(space-between);
                            @include align;
                            b {
                                font-size: pxTorem(10px);
                                color: red;
                                margin: 0 pxTorem(5px);
                                span:nth-of-type(1) {
                                    font-size: pxTorem(14px);
                                    font-weight: 800;
                                }
                                span:nth-of-type(2) {
                                    font-size: pxTorem(10px);
                                    text-decoration: line-through;
                                    color: #ccc;
                                    margin: 0 pxTorem(5px);
                                }
                            }
                            em {
                                font-size: pxTorem(12px);
                                color: #ccc;
                                border: pxTorem(1px) solid #ccc;
                                padding: pxTorem(1px) pxTorem(3px);
                            }
                        }
                        p:nth-of-type(3) {
                            @include box-flex;
                            @include justify(space-between);
                            @include align;
                            line-height: 2;
                            span {
                                color: #ccc;
                                font-size: pxTorem(13px)
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: pxTorem(50px);
    @include box-flex;
    .foot {
        width: 100%;
        @include box-flex;
        @include justify(space-around);
        border-top: 1px solid #ccc;
        li {
            padding: pxTorem(5px) 0;
            box-sizing: border-box;
            width: 25%;
            @include box-flex;
            @include direction(column);
            @include align;
            i.iconfont {
                font-size: pxTorem(22px);
            }
        }
        li.active {
            color: crimson;
            background: #eee;
        }
    }
}